@layer base, elements, objects, components, pages, themes;

@layer layout {
  .layout-grid {
    background-color: red;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 30ch), 1fr));
  }
}

@layer components {
  .btn {
    font-size: 16px;
    color: blue;
  }
}
